<h1>Resumes</h1>
	<div class="mt"></div>
	  <% @resuploads.each do |resupload| %>
				 <a href="/resumes/<%= resupload.id %>/<%= resupload.document_file_name %>"><%= image_tag resupload.document.url, style: "width: 15%; border: 3px solid black;" %></a>
	   <% end %>
</div>
		
	<div class="row mt centered">
		<div class="col-lg-7 col-lg-offset-1 mt">
			<p class="lead">Welcome to Resumojo! This is a community of helpful people who will you give you effective feedback on your resume so you can get that job or opportunity you always wanted. This is feedback, crowdsourced.</p>
		</div>
<br>
