<h1>Upload your resume here!</h1>

<h3><a style="text-decoration: underline;" target="_blank" href="http://pdf2png.com/">Click here to convert your resume to .png.</a></h3>

<%= render 'form' %>

<%= link_to 'Back', resuploads_path %>
